<details {{ .Scratch.Get "details" }} class="f6 fw7 input-reset">
  <dl class="f6 lh-copy">
    <dt class="fw7">Fecha de publicación:</dt>
    <dd class="fw5 ml0">{{ .PublishDate.Format "02/01/2006" }}</dd>
  </dl>
  <dl class="f6 lh-copy">
    <dt class="fw7">Duración:</dt>
    <dd class="fw5 ml0">{{ .ReadingTime }} minutos, {{ .WordCount }} palabras</dd>
  </dl>
  {{ with .Params.categories }}
  <dl class="f6 lh-copy">
    <dt class="fw7">Categoría:</dt>
    <dd class="fw5 ml0">{{ range . }} <a href="{{ "categories/" | relURL }}{{ . | urlize }}/index.html">{{ . }}</a> {{ end }}</dd>
  </dl>
  {{ end }}
  {{ with .Params.series }}
  <dl class="f6 lh-copy">
    <dt class="fw7">Series:</dt>
    <dd class="fw5 ml0">{{ range . }} <a href="{{ "series/" | relURL }}{{ . | urlize }}/index.html">{{ . }}</a> {{ end }}</dd>
  </dl>
  {{ end }}
  {{ with .Params.tags }}
  <dl class="f6 lh-copy">
    <dt class="fw7">Etiquetas:</dt>
    <dd class="fw5 ml0">{{ range . }} <a href="{{ "tags/" | relURL }}{{ . | urlize }}/index.html">{{ . }}</a> {{ end }}</dd>
  </dl>
  {{ end }}
</details>
